

.main-div{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(253, 251, 251);
  height: 99vh;
  text-align: center;

}


.card1{
  background-color: rgb(146, 150, 150);
  padding: 50px;
  border-radius: 5px;
  box-shadow: 0px 0px 7px;
}

.heading{
  font-size: 50px;
}

.btn1{
  border-radius: 12px;
  color: black;
  border: 2px solid #4CAF50;
  transition-duration: 0.4s;
  width: 250px;
  padding: 15px;
  margin: 5px;
}